* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aubrey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');





body{
  background-image: linear-gradient(to right top, #320872, #3b0b7a, #6c20c2, #7226be, #772cba, #7c32bb, #8137bd, #863dbe, #8d44c5, #934bcc,
   #9a51d3, #a158da);
  background-attachment: fixed;
  color:aliceblue

}

nav {
  background-image: linear-gradient(to right, #030007, #140c1b, #1e142a, #291a3a, #35204a, #3b2153, #41215d, #472166, #471c6b, #47176f, #471073, #460678);
  background-attachment: fixed;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Henny Penny", cursive;
}

main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;

}
#nome, #nota1, #nota2, #nota3,#nota4,select{
  border-radius: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
font-family: 'Aubrey', cursive; ;
background-color: #140c1bce;
}

input{
  transition: transform 0.3s ease;
}

input,:hover::placeholder {
  color: white;
  transform: scale(1.05);
}

button{

  border-radius: 8px;
  box-shadow: 10px 10px 9px black;
  width: 100px;
  height: 50px;
  background-color: #a37ece;
  font-family: 'Noto Serif', serif;
  color: white;
  font-weight: 700;
  text-shadow: 4px 4px 15px white;
  transition: transform 0.3s ease;
}

button:hover{
  transform: scale(1.05);
  color:#3b2153;
  background-color: #b273e2;

}




th,tfoot{
border: 2px rgba(255, 252, 252, 0.678) solid ;
width: 120px;
background-color: #2d2b30;

}

td,tr{
  border: 2px rgba(115, 0, 126, 0.603) solid ;
  width: 120px;
  background-color: #2d2b30;
  }
  


